# Игнорировать все, кроме указанных директорий, файлов и их содержимого
*

# Разрешить файлы и папки, относящиеся к проекту
!main*
!bot*
!states/
!states/*
!services/
!services/*
!handlers/
!handlers/*
!config/
!config/*

# Игнорировать специфические системные/временные файлы, которые могут быть в проекте
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log
*.cache
*.db
*.json
*.mp3
*.mp4
*.txt
.DS_Store
Thumbs.db
*.swp
*.swo
*.sublime-*
*.vscode/
*.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.bak
*.tmp
*.lock
node_modules/
package-lock.json
yarn.lock
npm-debug.log